<font size = "5">Importing Libs</font>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<font size = "5">Importing Data Frame</font>

In [2]:
df = pd.read_csv('treino.csv')

In [3]:
df.head()

   ID  Matricula  P1   Ano  Semestre  Semestre da disciplina Situacao
0   1       2011  71  2013         1                       3        A
1   2       2017  23  2017         2                       1        A
2   3       2011   2  2013         1                       2        R
3   4       2019  28  2019         1                       1        A
4   5       2016  12  2017         1                       1        R

## Train Test Split

Let's split up the data into a training set and a test set!

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
df.columns

Index(['ID', 'Matricula', 'P1', 'Ano', 'Semestre', 'Semestre da disciplina',
       'Situacao'],
      dtype='object')

In [9]:
X = df[['Matricula', 'P1', 'Ano', 'Semestre']]
y = df['Situacao']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

## Decision Trees

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
dtree = DecisionTreeClassifier()

In [13]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

## Prediction and Evaluation

In [14]:
predictions = dtree.predict(X_test)

In [15]:
from sklearn.metrics import classification_report,confusion_matrix

In [16]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           A       0.76      0.88      0.81       131
           R       0.84      0.70      0.77       124

    accuracy                           0.79       255
   macro avg       0.80      0.79      0.79       255
weighted avg       0.80      0.79      0.79       255

In [17]:
print(confusion_matrix(y_test,predictions))

[[115  16]
 [ 37  87]]

## Import **Test** Data Frame

In [18]:
df_test = pd.read_csv('teste.csv')

In [19]:
df_test.head()

    ID  Matricula  P1   Ano  Semestre  Semestre da disciplina
0  851       2018  42  2018         2                       1
1  852       2015  10  2015         1                       1
2  853       2013  75  2014         1                       1
3  854       2011  73  2013         2                       4
4  855       2017  31  2017         2                       1

<font size = "5">Testing our **TREE** model in test data set </font>

In [21]:
df_test.columns

Index(['ID', 'Matricula', 'P1', 'Ano', 'Semestre', 'Semestre da disciplina'], dtype='object')

In [22]:
predictions = dtree.predict(df_test[['Matricula','P1', 'Semestre', 'Semestre da disciplina']])

<font size = "5">Creating **Tree** submission File</font>

In [23]:
submission = pd.DataFrame({'Id':df_test['ID'],'Situacao':predictions})

In [24]:
submission.head()

    Id Situacao
0  851        A
1  852        R
2  853        A
3  854        A
4  855        R

In [26]:
filename = 'submissionTREE.csv'

submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: submissionTREE.csv

## Random Forests

In [28]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=900)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=900,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [29]:
rfc_pred = rfc.predict(X_test)

In [30]:
print(confusion_matrix(y_test,rfc_pred))

[[116  15]
 [ 29  95]]

In [31]:
print(classification_report(y_test,rfc_pred))

              precision    recall  f1-score   support

           A       0.80      0.89      0.84       131
           R       0.86      0.77      0.81       124

    accuracy                           0.83       255
   macro avg       0.83      0.83      0.83       255
weighted avg       0.83      0.83      0.83       255

<font size = "5">Testing our **TREE** model in test data set </font>

In [32]:
ran_predictions = rfc.predict(df_test[['Matricula','P1', 'Semestre', 'Semestre da disciplina']])

<font size = "5">Creating **Random Forest** submission File</font>

In [34]:
ran_submission = pd.DataFrame({'Id':df_test['ID'],'Situacao':ran_predictions})

In [35]:
ran_submission.head()

    Id Situacao
0  851        R
1  852        R
2  853        A
3  854        A
4  855        R

In [36]:
filename = 'submissionRanFor.csv'

ran_submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: submissionRanFor.csv